@model IEnumerable<Garage2.Models.ParkedVehicleViewModel>

@{
    ViewBag.Title = "Garage";
    string nosorting;

}

<h2>Garage</h2>

<form method="get">
    <input type="search" name="searchByRegNum" placeholder="XXXXXX"/>
    <input type="search" name="searchByAny" placeholder="XXXXXX" />
    <input type="submit" value="Search by registration number" />
</form>



<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Registration number", "SearchByRegNumber", new { Sorting = "RegistrationNumber" })          
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>*@
        <th>
            @Html.ActionLink("Vehicle type", "SearchByRegNumber", new { Sorting = "VehicleType" })           
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType)
        </th>*@
        <th>               
            @Html.ActionLink("Time entering garage", "SearchByRegNumber", new { Sorting = "CheckinTime" })
        </th>
        <th>
            Parking time
            <input type="button" value="Sort by" />
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            @*It nessessary to create valid format!!*@
            Days:@(item.ParkingTime.Days) Hours:@(item.ParkingTime.Hours) Min:@(item.ParkingTime.Minutes)
       </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
